[Unit]
Description=update xdcstore and xdcget every 15 minutes: {{ bot_email }}

[Service]
ExecStart=/home/{{ unix_user }}/.local/lib/xdcget.venv/bin/xstore-update.sh
EnvironmentFile=/home/{{ unix_user }}/.env
WorkingDirectory=/home/{{ unix_user }}
Restart=always
RestartSec=900

[Install]
WantedBy=multi-user.target
